<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>917807192075-g8k0281147beqnfef4ljv402ga370pmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917807192075-g8k0281147beqnfef4ljv402ga370pmd</string>
	<key>API_KEY</key>
	<string>AIzaSyARdL5TyZBHiST8T2gKupoJ_LjBdEwD3tM</string>
	<key>GCM_SENDER_ID</key>
	<string>917807192075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CAM-UPRA-Pregunta-Lobo</string>
	<key>PROJECT_ID</key>
	<string>pregunta-lobo-d7278</string>
	<key>STORAGE_BUCKET</key>
	<string>pregunta-lobo-d7278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:917807192075:ios:73c7325757f3e0c4</string>
	<key>DATABASE_URL</key>
	<string>https://pregunta-lobo-d7278.firebaseio.com</string>
</dict>
</plist>